<style>
    .Carousel {

    }

    .CarouselSlide {

    }

    .CarouselText h3 {

    }

    .CarouselText p {
        
    }
</style>
<div class="Carousel">
    {{#each items}}
        <div class="CarouselItem">
            <img src="{{slide}}" class="CarouselSlide"/>
            <div class="CarouselText">
                <h3>{{title}}</h3>
                <p>{{caption}}</p>
            </div>
        </div>
    {{/each}}
</div>
