<div>
    <style></style>
    <table>
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>{{age}}</td>
            </tr>
            <tr>
                <td>Favorite Food</td>
                <td>{{food}}</td>
            </tr>
        </tbody>
    </table>
</div>
